.first_contents-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.first_contents-wrapper .wrapper {
    flex: 1;
}

.left_menu-wrapper {
    display: flex;
    width: 15%;
    height: 100%;
    position: fixed;
}

.contents-wrapper .left_menu {
    flex: 1;
}

.mainline {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: auto;
    padding: 0 3em 0 3em;
    border-right: solid rgba(0, 0, 0, 0.1);
}

.top_tap {
    display: flex;
    width: auto;
    height: 15%;
    padding-top: 3em;
    align-items: center;
    justify-content: center; 
}

.middle_tap {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 70%;
    align-items: center;
    justify-content:space-evenly;
}

.bottom_tap {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 25%;
    padding: 3em 0 1em 0;
    align-items: center;
    justify-content:space-evenly;
}

.popupline {
    display: flex;
    height: 100%;
}

.button {
    cursor: pointer;
}

#button_main :hover {
    cursor: pointer;
    content: url('https://cdn-icons-png.flaticon.com/128/174/174855.png')
}

#button_home :hover {
    cursor: pointer;
    content: url('https://cdn.icon-icons.com/icons2/2131/PNG/512/home_house_icon_131529.png')
}

#button_search :hover {
    cursor: pointer;
    content: url('https://cdn-icons-png.flaticon.com/128/9454/9454253.png')
}

#button_explore :hover {
    cursor: pointer;
    content: url('https://cdn-icons-png.flaticon.com/128/15049/15049617.png')
}

#button_reels :hover {
    cursor: pointer;
    content: url('https://cdn-icons-png.flaticon.com/128/12595/12595820.png')
}

#button_DM :hover {
    cursor: pointer;
    content: url('https://cdn-icons-png.flaticon.com/128/8096/8096260.png')
}

#button_heart :hover {
    cursor: pointer;
    content: url('https://cdn-icons-png.flaticon.com/128/11677/11677186.png')
}

#button_add :hover {
    cursor: pointer;
    content: url('https://cdn-icons-png.flaticon.com/128/875/875119.png')
}

#button_profile :hover {
    cursor: pointer;
    content: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlG_3RAX42Eg-bQytsP3ptNfC_YoisT06TXA&usqp=CAU')
}

#button_setting :hover {
    cursor: pointer;
    content: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6OEfCRWG8lzXdFh1ZPfsNzTOEI1d1kYBSbA&s)
}

.modal-dialog {
    display: flex;
    width: 30em;
    height: 30em;
}

.modal-content {
    border-radius: 1.2em;
    box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.5);
}

.form-control {
    border: none;
    outline: none;
}

.placeholder {
    color: #999;
    outline: none;
}

/* main */

.main-wrapper {
    width: 600px;
    height: auto;
    display: flex;
    margin-left: 25em;
}

.mytitle {
    width: 600px;
    color: black;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 30px;
    border: 2px solid;
    background-color: white;
}

.likes {
    padding-right: 20em;
}

/* 공통 인스타그램 버튼 스타일링 */
.instagram-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 35px;
    /* 아이콘 크기 */
    padding: 10px;
    /* 버튼 크기 조절 */
    margin-right: 5px;
    /* 버튼 간격 조절 */
    color: #262626;
    /* 버튼 색상 */
}

/* 좋아요 버튼 색상 변경 */
.instagram-btn.like-btn {
    color: red;
}

/* 댓글 버튼 색상 변경 */
.instagram-btn.comment-btn {
    color: #72b8eb;
    /* 파란색 */
}

/* 전송 버튼 색상 변경 */
.instagram-btn.send-btn {
    color: #a6bcd2;
    /* 파란색 */
}

.wrap {
    display: flex;
    width: auto;
    padding: 5em 3em 0em 20em;
}

.myprofile {
    width: 500px;
    height: 500px;

    color: white;
    text-align: center;

    background-image: url('https://private-user-images.githubusercontent.com/67831170/323536002-3a1f7cdf-e663-45d1-98ba-3fc55f958bdb.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MTM0MzEwNzcsIm5iZiI6MTcxMzQzMDc3NywicGF0aCI6Ii82NzgzMTE3MC8zMjM1MzYwMDItM2ExZjdjZGYtZTY2My00NWQxLTk4YmEtM2ZjNTVmOTU4YmRiLnBuZz9YLUFtei1BbGdvcml0aG09QVdTNC1ITUFDLVNIQTI1NiZYLUFtei1DcmVkZW50aWFsPUFLSUFWQ09EWUxTQTUzUFFLNFpBJTJGMjAyNDA0MTglMkZ1cy1lYXN0LTElMkZzMyUyRmF3czRfcmVxdWVzdCZYLUFtei1EYXRlPTIwMjQwNDE4VDA4NTkzN1omWC1BbXotRXhwaXJlcz0zMDAmWC1BbXotU2lnbmF0dXJlPWZkMzk4YjkxZDMxZGQxZTE4MTUxZmZmMjM1YjhlNmM5Yzg3YTNkMmJiZTI5YzJjYWVjN2FkMjlhYjEyMzU0OTQmWC1BbXotU2lnbmVkSGVhZGVycz1ob3N0JmFjdG9yX2lkPTAma2V5X2lkPTAmcmVwb19pZD0wIn0.535WWOKfdQ8ze_lDyYUEH2NhUaAvBcqvRRMFgMeyLY0');
    background-position: center;
    background-size: cover;

    margin: 15px 30px auto 30px;

}

.mypro {
    width: 70px;
    height: 70px;
    background-image: url('https://private-user-images.githubusercontent.com/67831170/323536002-3a1f7cdf-e663-45d1-98ba-3fc55f958bdb.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MTM0MzEwNzcsIm5iZiI6MTcxMzQzMDc3NywicGF0aCI6Ii82NzgzMTE3MC8zMjM1MzYwMDItM2ExZjdjZGYtZTY2My00NWQxLTk4YmEtM2ZjNTVmOTU4YmRiLnBuZz9YLUFtei1BbGdvcml0aG09QVdTNC1ITUFDLVNIQTI1NiZYLUFtei1DcmVkZW50aWFsPUFLSUFWQ09EWUxTQTUzUFFLNFpBJTJGMjAyNDA0MTglMkZ1cy1lYXN0LTElMkZzMyUyRmF3czRfcmVxdWVzdCZYLUFtei1EYXRlPTIwMjQwNDE4VDA4NTkzN1omWC1BbXotRXhwaXJlcz0zMDAmWC1BbXotU2lnbmF0dXJlPWZkMzk4YjkxZDMxZGQxZTE4MTUxZmZmMjM1YjhlNmM5Yzg3YTNkMmJiZTI5YzJjYWVjN2FkMjlhYjEyMzU0OTQmWC1BbXotU2lnbmVkSGVhZGVycz1ob3N0JmFjdG9yX2lkPTAma2V5X2lkPTAmcmVwb19pZD0wIn0.535WWOKfdQ8ze_lDyYUEH2NhUaAvBcqvRRMFgMeyLY0');
    background-size: 70px 70px;
    border-radius: 50%;

    margin-left: 30px;
    border: 2px solid;
}

.mypro>p {
    font-size: 15pt;
    font-weight: bold;
    color: darkblue;
    margin-left: 80px;
    margin-top: 15px;
}

/* 문자 위치 */
/* your_name */
.string>h5 {
    font-size: 20px;
    font-weight: bold;
    color: darkblue;

    margin-right: 28px;
}

/* likes */
.string>h4 {
    margin-right: 403px;

    font-size: 18px;
    font-weight: bold;
}

/* replybutton */
.string>button {
    margin-right: 325px;
}

/* date string */
.date {
    margin-right: 423px;
    margin-top: 15px;
    margin-bottom: 50px;
    color: #a6bcd2;
}

.mb-1 {
    margin-right: 230px;
}

small {
    margin-right: 230px;
}

.list-group {
    margin-top: 30px;
}

#postingBtn {
    margin-left: 470px;
    margin-top: 15px;
}

.list-group a>button {
    margin-left: 500px;

    font-size: 0;
    line-height: 0;
}

 /* 해시태그시 간격 */
 #mbti{
    padding-top: 15px;
}
#hobby{
    padding-top: 15px;
}
#introduce{
    padding-top: 15px;
}
#goal{
    padding-top: 15px;
}
.blank{
    width: 100%;
    height: 20px
}

/* right */

@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');


.right_menu-wrapper {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    align-items: start;
}

#sort {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    font-family: "Cute Font", sans-serif;
}

.h1 {
    font-size: 30px;
}

h2 {
    font-family: "Instrument Sans", sans-serif;
}


html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.container {
    width: 100%;
    height: 100%;
    background: white;
    line-height: 40px;
}

.boxitem {
    width: 450px;
    height: 600px;
    margin: 100px auto;
    color: black;
    padding-top: 50px;
    border-bottom: 1px solid rgb(207, 207, 207);
    background-image: url(https://i.ibb.co/HN2wbQn/306021-P7-XZN3-667.jpg);
    background-size: cover;
    margin-left: 0px;
    margin-right: 200px;
}

#love {
    display: grid;
    grid-template-columns: 250px 1fr;
}

button {
    margin: 10px auto;
    font-size: 20px;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    font-family: "Instrument Sans", sans-serif;
    text-align: center;
}

button:hover {
    background: silver;
    border-radius: 5px;
}

.open1 {
    border-right: 1px solid rgb(223, 223, 223);
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    margin-top: 5px;
    flex-direction: column;
}

.img-block {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

p {
    font-family: "Instrument Sans", sans-serif;
    color: gray;
    margin-top: 10px;
    margin-bottom: 0px;
}

h3 {
    margin-left: 150px;
}

img {
    max-width: 100%;
}

.jb-a {
    width: 100%;
    position: relative
}

.jb-c {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}

.jb-a:hover .jb-c {
    display: block;
}